body{
    background-color:#778899 ;
    justify-content: center;
}

.this {
    font-size: 50px;
}
.this .searchbox .search{
    width: 300px ;
    padding: 13px;
    padding-left: 45px;
    padding-right: 60px;
    border-radius: 30px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 16px;

} 
.this .searchbox .icons
  {  position: absolute;
    top :0;
    width: 100%;
    display: flex;
    padding: 12px 20px;
    justify-content: space-between ;
    align-items:  none;
    pointer-events: none;

}