body {
    background-color: peachpuff;
    border: 3px brown;
    

}

nav{
    align-items: center;
    margin-left: 0px;
    background-color: #8e298e;
}

nav ul{
    
    background-attachment: fixed;
    list-style-type: none;
    display: flex;
    
    height: 123px;
    color:coral;

}
.brand{
    color:beige;
    font-weight:bolder;
    font-size: 1rem;
    display: flex;
    align-items: center;
}
.brand img{
    width: 150px;
    height: 120px;
    padding: 0 0;
}
.con{ 
position: absolute ;
top: 50%;
left:50%;
transform: translate(-50%);
align-items: center;
color: aliceblue;
font-size: larger;
}

.sharukh{
    font-size: 20px;
    color: violet;
}
.sharukh p{
    color:powderblue;
}
.sharukh img{
    justify-content:center ;
    padding: 0px 100px;
}
* {
    margin: 0px;
    padding: 0px;
}
nav ul li{
    padding :55px 40px;
    

}
.down{
    padding: 20px 150px;
}
.down img{
    background-color: darkgrey;
    display: flex;
    align-items: center;
    padding: 100px 70px;
    justify-content: center;
    }
    .diag img{
        justify-content: center;
        padding: 20px 350px;

    }
.buttom{
    background-color: rgb(143, 43, 121);
    align-items: center;
    display: flex;
    justify-items: center;
    align-items: center;

}
.down{
    background-color: aliceblue;
    background-color:lightgray
    
}
.diag{
    align-content: center;
}
.fir{
    padding: 100px 50px;
    list-style: none;
    display: flex;
    margin-bottom: 10px;
    

}
.buttom ul li{
    padding:  40px 55px;
    color: coral;

}

 


