body{
    background-image: -moz-linear-gradient();
    align-items: center;
    background-color: powderblue;
    
}
.main {
position: absolute ;
top: 10%;
left:50%;
transform: translate(-50%);
align-items: center;
list-style: none;
justify-content: center;
}
.mob{
    border: 20px;
    display: flex;
    align-items: center;
    position: absolute;
    
}
.logo{
    display: flex;
    padding: 20px 40px;

}
.logo1{
    display: flex;
    padding: 20px 40px;

}
.logo2{
    display: flex;
    padding: 20px 40px;

}
main sub button{
    background-color: rgb(255, 0, 30);

}
