body{
    background-color: rgb(91, 84, 84);
    display: flex;
    }
    .p1 {
        position: absolute;
        align-items: center;
        top: 10%;
        left: 10%;

    }
    p1
    .p1 h2
    {
         position: absolute;
        color: rgb(50, 45, 45);
        display: flex;

    } 
    .q1
    {
        padding: 30px;
        border-image-outset: 20px;
    }